<header class="component header" data-component="header">
    <div class="header__inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="header__logo" data-site-href="{{ site.baseurl }}">
                        <span class="header__title">FrontEnd__PL</span>
                        <small class="header__subtitle">kim jest front-end developer i czym się zajmuje?</small>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</header>
