<head>
    <meta charset="utf-8">
    <meta name="author" content="{{ site.author }}">
    <title>{% if page.title %}{{page.title}}. {{site.title}}{% else %}{{site.title}}{% endif %}</title>
    <meta name="description" content="{{ page.description }}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/stylesheets/site.css" | relative_url }}">

    <!-- jQuery 3.2.1 CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
</head>
