<div class="component newest-post" style="background-image: url({{"/assets/images/banners/blog-banner.jpg" | prepend: site.baseurl}})">
    <div class="newest-post__inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="newest-post__tag component tag">
                        <li>technologia</li>
                    </ul>
                    <h1 class="newest-post__title">Jekkyl - wprowadzenie do&nbsp;nowoczesnego systemu blogowego</h1>
                    <p class="newest-post__description">Pozwala ona w relatywnie prosty sposób przygotować oraz opublikować blog'a&nbsp;w sieci.</p>
                    <a href="" class="btn btn-lg btn-primary">{{ site.read__more }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
