{% for post in site.posts limit:1 %}
{% if post.thumbnail %}
<div class="component newest-post lozad" data-background-image="{{'/assets/images/banners/blog-banner.jpg' | prepend: site.baseurl}}">
    <div class="newest-post__inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="newest-post__tag component tag">
                        <li>technologia</li>
                    </ul>
                    <h1 class="newest-post__title">{{ post.title }}</h1>
                    <p class="newest-post__description">{{ post.content | strip_html | truncatewords: 30 }}</p>
                    <p><a href="{{ post.url }}" class="btn btn-lg btn-primary">{{ site.read__more }}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
{% endif %}
{% endfor %}
