<div class="component newest-post" style="background-image: url({{"/assets/images/banners/blog-banner.jpg" | prepend: site.baseurl}})">
    <div class="newest-post__inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <span class="newest-post__tag">Najnowszy</span>
                    <h1 class="newest-post__title">Jekkyl - wprowadzenie do środowiska</h1>
                    <p class="newest-post__description">Narzędzie pozwalające w prosty sposób tworzyć i publikować bloga.</p>
                    <a href="" class="btn btn-lg btn-primary">{{ site.read__more }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
