<div class="row">
    <div class="col-md-8 col-md-push-4">
        <nav class="component pagination" role="pagination">
          <ul class="list-unstyled">
            {% if paginator.previous_page %}
              {% if paginator.previous_page == 1 %}
              <li><a class="newer-posts" href="{{ site.baseurl }}/" title="{{ site.pagination__prev }} 1"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
              {% else %}
              <li><a class="newer-posts" href="{{ site.baseurl }}/page/{{ paginator.previous_page }}/" title="{{ site.pagination__prev }} {{ paginator.previous_page }}"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
              {% endif %}
            {% endif %}

            <li><span class="page-number">Strona {{paginator.page}} z {{paginator.total_pages}}</span></li>

            {% if paginator.next_page %}
            <li><a class="older-posts" href="{{ site.baseurl }}/page/{{ paginator.next_page }}/" title="{{ site.pagination__next }} {{ paginator.next_page }}"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
            {% endif %}
          </ul>
        </nav>
    </div>
</div>
