---
---

/* Overwriting bootstrap variables */
@import "../_sass/custom-bootstrap";

@import "../_sass/bootstrap";

a {
    &:active, &:focus, &:hover {
        color: $brand-primary;
    }
}

img {
    max-width: 100%;
}

.code {
    display: inline-block;
    padding: 3px;
    background-color: lighten($brand-primary, 39%);
    font-weight: 600;
}

@import "../_sass/core";
@import "../_sass/components/blog-components";
