---
---
@import "../_sass/bootstrap/variables";
@import "../_sass/bootstrap";

$font-family-monospace: 'VT323', monospace;

h1 {
    font-family: $font-family-monospace;
}

img {
    max-width: 100%;
}

@import "../_sass/components/blog-components";
