.posts-wrapper {
    $root: &;
    margin: $grid-gutter-width (-$grid-gutter-width / 2);
    &__element {
        @include clearfix;
        width: 100%;
        padding: 0 $grid-gutter-width/2;
        margin-bottom: $spacer-lg;
        &:hover {
            #{$root}__content {
                border-bottom-color: $border-color;
            }
        }
    }
    &__content {
        padding: $grid-gutter-width / 2;
        border: 1px solid $border-color-gray;
        border-bottom-width: 3px;
        transition: $transition-default;
        &.hovered {
            border-bottom-color: $border-color;
        }
    }
    &__title {
        margin-top: 0;
    }
    &__info {
        display: flex;
        margin-bottom: 0;
        margin-top: $grid-gutter-width;
        font-size: $font-size-small;
        flex-wrap: wrap;
        border-top: 1px solid $border-color-gray;
        padding-top: 15px;
        li {
            flex: 0 0 50%;
        }
    }
    &__words {
        text-align: right;
    }
    &__tags {
        li {
            background-color: lighten($text-color, 20%);
            color: #fff;
        }
    }
    &__button {
        position: relative;
        top: -3px;
        float: right;
    }
}
