// Component Header
.header {
    border-bottom: 3px solid rgba(red(#eee), green(#eee), blue(#eee), .7);
    &__logo {
        font-family: $font-family-monospace;
        margin-top: 8px;
        cursor: pointer;
        line-height: 1;
    }
    &__subtitle {
        display: block;
        font-family: $font-family-base;
        font-size: $font-size-small;
    }
}
