.newest-post {
    position: relative;
    display: flex;
    min-height: 450px;
    justify-content: center;
    align-items: center;
    background-size: cover;
    &::before {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        background-color: rgba(0,0,0,.7);
        z-index: 1;
    }
    &__inner {
        position: relative;
        z-index: 3;
    }
    &__tag,
    &__title,
    &__description {
        color: #fff;
    }
    &__tag,
    &__title {
        max-width: $container-tablet / 1.2;
        color: #fff;
    }
    &__description {
        max-width: $container-tablet / 1.5;
        padding-top: $spacer-xs;
    }
    &__title {
        margin-top: 0;
        text-shadow: 5px 5px 5px #000;
        @media (max-width: $screen-sm-min) {
            font-size: $font-size-h3;
        }
    }
    &__description {
        padding-bottom: 15px;
    }
}
