.pagination {
    display: block;
    text-align: center;
    margin: $spacer-sm auto;
    li {
        display: inline-block;
        a {
            display: block;
            background-color: #f8f8f8;
            padding: 0 $spacer-xs;
        }
    }
}
